USE [MiniGramCashDB]
GO
/****** Object:  Table [dbo].[InstallShield]    Script Date: 17/05/2023 02:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InstallShield](
	[ISSchema] [char](15) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLEXPIREDDATES]    Script Date: 17/05/2023 02:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLEXPIREDDATES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PID] [int] NOT NULL,
	[Qte] [int] NOT NULL,
	[ExpiredDate] [datetime] NULL,
	[dateCreated] [datetime] NULL,
 CONSTRAINT [PK_TBLEXPIREDDATES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLHOLDDETAILS]    Script Date: 17/05/2023 02:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLHOLDDETAILS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RID] [int] NULL,
	[PID] [int] NULL,
	[QTE] [int] NULL,
	[PRICE_Dollar] [float] NULL,
	[PRICE_LBP] [int] NULL,
	[TOTAL_PRICEDollar] [float] NULL,
	[TOTAL_PRICELBP] [int] NULL,
 CONSTRAINT [PK_TBLHOLDDETAILS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLITEMS]    Script Date: 17/05/2023 02:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLITEMS](
	[IID] [int] IDENTITY(1,1) NOT NULL,
	[INAME] [nvarchar](100) NULL,
	[QTE] [int] NULL,
	[UNIT] [nvarchar](20) NULL,
	[ADD_DATE] [datetime] NULL,
	[ENABLED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLPRODUCTS]    Script Date: 17/05/2023 02:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLPRODUCTS](
	[PID] [int] IDENTITY(1,1) NOT NULL,
	[PNAME] [nvarchar](100) NULL,
	[QTE] [int] NULL,
	[PRICE] [float] NULL,
	[ADD_DATE] [datetime] NULL,
	[ENABLED] [bit] NULL,
	[HasQuantity] [bit] NULL,
	[BARCODE] [nvarchar](100) NOT NULL,
	[SID] [int] NULL,
	[HasExpiredDate] [int] NULL,
 CONSTRAINT [PK__TBLPRODU__C5775520C6615217] PRIMARY KEY CLUSTERED 
(
	[PID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLRECEIPTS]    Script Date: 17/05/2023 02:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLRECEIPTS](
	[RID] [int] IDENTITY(1,1) NOT NULL,
	[RITEM_NB] [int] NULL,
	[TOTAL_AMOUNTDollar] [float] NULL,
	[TOTAL_AMOUNTLBP] [int] NULL,
	[RDATE] [datetime] NULL,
	[RBARCODE] [nvarchar](max) NOT NULL,
	[isHold] [bit] NOT NULL,
 CONSTRAINT [PK__TBLRECEI__CAFF4132BAEA3B5B] PRIMARY KEY CLUSTERED 
(
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLRECEIPTS_DETAILS]    Script Date: 17/05/2023 02:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLRECEIPTS_DETAILS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RID] [int] NULL,
	[PID] [int] NULL,
	[QTE] [int] NULL,
	[PRICE_Dollar] [float] NULL,
	[PRICE_LBP] [int] NULL,
	[TOTAL_PRICEDollar] [float] NULL,
	[TOTAL_PRICELBP] [int] NULL,
 CONSTRAINT [PK__TBLRECEI__3214EC27682BFD85] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLSUPPLIERS]    Script Date: 17/05/2023 02:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLSUPPLIERS](
	[SID] [int] IDENTITY(1,1) NOT NULL,
	[SNAME] [nvarchar](50) NULL,
	[SPHONE] [nvarchar](50) NULL,
	[SEMAIL] [nvarchar](50) NULL,
	[ADD_DATE] [date] NULL,
	[ENABLED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBLITEMS] ADD  DEFAULT ((0)) FOR [QTE]
GO
ALTER TABLE [dbo].[TBLITEMS] ADD  DEFAULT ((1)) FOR [ENABLED]
GO
ALTER TABLE [dbo].[TBLPRODUCTS] ADD  CONSTRAINT [DF__TBLPRODUCTS__QTE__24927208]  DEFAULT ((0)) FOR [QTE]
GO
ALTER TABLE [dbo].[TBLPRODUCTS] ADD  CONSTRAINT [DF__TBLPRODUC__PRICE__25869641]  DEFAULT ((0.0)) FOR [PRICE]
GO
ALTER TABLE [dbo].[TBLPRODUCTS] ADD  CONSTRAINT [DF__TBLPRODUC__ENABL__267ABA7A]  DEFAULT ((1)) FOR [ENABLED]
GO
ALTER TABLE [dbo].[TBLPRODUCTS] ADD  CONSTRAINT [DF_TBLPRODUCTS_HasQuantity]  DEFAULT ((0)) FOR [HasQuantity]
GO
ALTER TABLE [dbo].[TBLPRODUCTS] ADD  CONSTRAINT [DF__TBLPRODUC__BARCO__5AEE82B9]  DEFAULT ((0)) FOR [BARCODE]
GO
ALTER TABLE [dbo].[TBLRECEIPTS] ADD  CONSTRAINT [DF__TBLRECEIP__RITEM__46E78A0C]  DEFAULT ((0)) FOR [RITEM_NB]
GO
ALTER TABLE [dbo].[TBLRECEIPTS] ADD  CONSTRAINT [DF__TBLRECEIP__TOTAL__47DBAE45]  DEFAULT ((0.0)) FOR [TOTAL_AMOUNTDollar]
GO
ALTER TABLE [dbo].[TBLRECEIPTS] ADD  CONSTRAINT [DF__TBLRECEIP__TOTAL__48CFD27E]  DEFAULT ((0)) FOR [TOTAL_AMOUNTLBP]
GO
ALTER TABLE [dbo].[TBLRECEIPTS] ADD  CONSTRAINT [DF__TBLRECEIP__RBARC__5BE2A6F2]  DEFAULT ('0') FOR [RBARCODE]
GO
ALTER TABLE [dbo].[TBLRECEIPTS] ADD  CONSTRAINT [DF_TBLRECEIPTS_isHold]  DEFAULT ((0)) FOR [isHold]
GO
ALTER TABLE [dbo].[TBLRECEIPTS_DETAILS] ADD  CONSTRAINT [DF__TBLRECEIPTS__QTE__4D94879B]  DEFAULT ((0)) FOR [QTE]
GO
ALTER TABLE [dbo].[TBLRECEIPTS_DETAILS] ADD  CONSTRAINT [DF__TBLRECEIP__PRICE__4E88ABD4]  DEFAULT ((0.0)) FOR [PRICE_Dollar]
GO
ALTER TABLE [dbo].[TBLRECEIPTS_DETAILS] ADD  CONSTRAINT [DF__TBLRECEIP__PRICE__4F7CD00D]  DEFAULT ((0)) FOR [PRICE_LBP]
GO
ALTER TABLE [dbo].[TBLRECEIPTS_DETAILS] ADD  CONSTRAINT [DF__TBLRECEIP__TOTAL__5070F446]  DEFAULT ((0.0)) FOR [TOTAL_PRICEDollar]
GO
ALTER TABLE [dbo].[TBLRECEIPTS_DETAILS] ADD  CONSTRAINT [DF__TBLRECEIP__TOTAL__5165187F]  DEFAULT ((0)) FOR [TOTAL_PRICELBP]
GO
ALTER TABLE [dbo].[TBLEXPIREDDATES]  WITH CHECK ADD  CONSTRAINT [FK_TBLEXPIREDDATES_TBLPRODUCTS1] FOREIGN KEY([PID])
REFERENCES [dbo].[TBLPRODUCTS] ([PID])
GO
ALTER TABLE [dbo].[TBLEXPIREDDATES] CHECK CONSTRAINT [FK_TBLEXPIREDDATES_TBLPRODUCTS1]
GO
ALTER TABLE [dbo].[TBLHOLDDETAILS]  WITH CHECK ADD  CONSTRAINT [FK_TBLHOLDDETAILS_TBLHOLDDETAILS] FOREIGN KEY([RID])
REFERENCES [dbo].[TBLRECEIPTS] ([RID])
GO
ALTER TABLE [dbo].[TBLHOLDDETAILS] CHECK CONSTRAINT [FK_TBLHOLDDETAILS_TBLHOLDDETAILS]
GO
ALTER TABLE [dbo].[TBLHOLDDETAILS]  WITH CHECK ADD  CONSTRAINT [FK_TBLHOLDDETAILS_TBLPRODUCTS] FOREIGN KEY([PID])
REFERENCES [dbo].[TBLPRODUCTS] ([PID])
GO
ALTER TABLE [dbo].[TBLHOLDDETAILS] CHECK CONSTRAINT [FK_TBLHOLDDETAILS_TBLPRODUCTS]
GO
ALTER TABLE [dbo].[TBLPRODUCTS]  WITH CHECK ADD  CONSTRAINT [FK__TBLPRODUCTS__SID__160F4887] FOREIGN KEY([SID])
REFERENCES [dbo].[TBLSUPPLIERS] ([SID])
GO
ALTER TABLE [dbo].[TBLPRODUCTS] CHECK CONSTRAINT [FK__TBLPRODUCTS__SID__160F4887]
GO
ALTER TABLE [dbo].[TBLPRODUCTS]  WITH CHECK ADD  CONSTRAINT [FK__TBLPRODUCTS__SID__7A3223E8] FOREIGN KEY([SID])
REFERENCES [dbo].[TBLSUPPLIERS] ([SID])
GO
ALTER TABLE [dbo].[TBLPRODUCTS] CHECK CONSTRAINT [FK__TBLPRODUCTS__SID__7A3223E8]
GO
ALTER TABLE [dbo].[TBLRECEIPTS_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK__TBLRECEIPTS__PID__4CA06362] FOREIGN KEY([PID])
REFERENCES [dbo].[TBLPRODUCTS] ([PID])
GO
ALTER TABLE [dbo].[TBLRECEIPTS_DETAILS] CHECK CONSTRAINT [FK__TBLRECEIPTS__PID__4CA06362]
GO
ALTER TABLE [dbo].[TBLRECEIPTS_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK__TBLRECEIPTS__PID__7B264821] FOREIGN KEY([PID])
REFERENCES [dbo].[TBLPRODUCTS] ([PID])
GO
ALTER TABLE [dbo].[TBLRECEIPTS_DETAILS] CHECK CONSTRAINT [FK__TBLRECEIPTS__PID__7B264821]
GO
ALTER TABLE [dbo].[TBLRECEIPTS_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK__TBLRECEIPTS__RID__4BAC3F29] FOREIGN KEY([RID])
REFERENCES [dbo].[TBLRECEIPTS] ([RID])
GO
ALTER TABLE [dbo].[TBLRECEIPTS_DETAILS] CHECK CONSTRAINT [FK__TBLRECEIPTS__RID__4BAC3F29]
GO
ALTER TABLE [dbo].[TBLRECEIPTS_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK__TBLRECEIPTS__RID__7C1A6C5A] FOREIGN KEY([RID])
REFERENCES [dbo].[TBLRECEIPTS] ([RID])
GO
ALTER TABLE [dbo].[TBLRECEIPTS_DETAILS] CHECK CONSTRAINT [FK__TBLRECEIPTS__RID__7C1A6C5A]
GO
/****** Object:  StoredProcedure [dbo].[sp_addNewItem]    Script Date: 17/05/2023 02:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_addNewItem](@name nvarchar(100),@qte int,@unit NVARCHAR(20))
AS
BEGIN
INSERT INTO TBLITEMS(INAME,QTE,UNIT,ADD_DATE,ENABLED)VALUES(@name,@qte,@unit,GETDATE(),1)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_addNewProduct]    Script Date: 17/05/2023 02:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_addNewProduct](@name nvarchar(100),@barcode nvarchar(100),@qte int,@price float,@hasQuantity BIT,@sid int,@hasExpiredDate bit)
AS
BEGIN
INSERT INTO TBLPRODUCTS(PNAME,BARCODE,QTE,PRICE,ADD_DATE,ENABLED,HasQuantity,SID,HasExpiredDate)VALUES(@name,@barcode,@qte,@price,GETDATE(),1,@hasQuantity,@sid,@hasExpiredDate)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_addNewSupplier]    Script Date: 17/05/2023 02:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_addNewSupplier](@name nvarchar(50),@phone nvarchar(50),@email nvarchar(50))
AS
BEGIN

	INSERT INTO TBLSUPPLIERS(SNAME,SPHONE,SEMAIL,ADD_DATE,ENABLED) VALUES (@name,@phone,@email,GETDATE(),1)

END
GO
/****** Object:  StoredProcedure [dbo].[sp_deleteHoldReceiptDetailsByRID]    Script Date: 17/05/2023 02:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_deleteHoldReceiptDetailsByRID](@rid int)
AS
BEGIN
	DELETE FROM TBLHOLDDETAILS WHERE RID = @rid
END
GO
/****** Object:  StoredProcedure [dbo].[sp_deleteReceiptByBarcode]    Script Date: 17/05/2023 02:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_deleteReceiptByBarcode](@barcode nvarchar(max))
AS
BEGIN
DELETE FROM TBLRECEIPTS WHERE RBARCODE = @barcode
END
GO
/****** Object:  StoredProcedure [dbo].[sp_deleteReceiptDetailsByRID]    Script Date: 17/05/2023 02:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_deleteReceiptDetailsByRID](@id int)
AS
BEGIN
DELETE FROM TBLRECEIPTS_DETAILS WHERE RID = @id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_disableItemByID]    Script Date: 17/05/2023 02:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_disableItemByID](@id int)
AS
BEGIN
UPDATE TBLITEMS SET Enabled = 0 WHERE IID = @id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_disableProductByID]    Script Date: 17/05/2023 02:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_disableProductByID](@id int)
AS
BEGIN
UPDATE TBLPRODUCTS SET Enabled = 0 WHERE PID = @id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_disableSupplierByID]    Script Date: 17/05/2023 02:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_disableSupplierByID](@id int)
AS
BEGIN
UPDATE TBLSUPPLIERS SET Enabled = 0 WHERE SID = @id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_enableItemByID]    Script Date: 17/05/2023 02:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_enableItemByID](@id int)
AS
BEGIN
UPDATE TBLITEMS SET Enabled = 1 WHERE IID = @id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_enableProductByID]    Script Date: 17/05/2023 02:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_enableProductByID](@id int)
AS
BEGIN
UPDATE TBLPRODUCTS SET Enabled = 1 WHERE PID = @id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_enableSupplierByID]    Script Date: 17/05/2023 02:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_enableSupplierByID](@id int)
AS
BEGIN
UPDATE TBLSUPPLIERS SET Enabled = 1 WHERE SID = @id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getAllExpiredDateProducts]    Script Date: 17/05/2023 02:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_getAllExpiredDateProducts]
AS
BEGIN

	SELECT
			TBLPRODUCTS.BARCODE,
		    TBLPRODUCTS.PNAME,
			TBLSUPPLIERS.SNAME,
			TBLEXPIREDDATES.Qte,
			TBLEXPIREDDATES.ExpiredDate
	FROM 
			TBLPRODUCTS INNER JOIN 
			TBLEXPIREDDATES ON TBLEXPIREDDATES.PID = TBLPRODUCTS.PID INNER JOIN 
			TBLSUPPLIERS ON TBLSUPPLIERS.SID = TBLPRODUCTS.SID
	WHERE
			CONVERT(DATE,TBLEXPIREDDATES.ExpiredDate) < CONVERT(DATE,GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getBestItems]    Script Date: 17/05/2023 02:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_getBestItems](@date DATETIME)
AS
BEGIN

	Select	TOP 3
			TBLPRODUCTS.PNAME ,SUM(TBLRECEIPTS_DETAILS.TOTAL_PRICEDollar) AS TOTAL
	FROM  
			TBLPRODUCTS  INNER JOIN 
			TBLRECEIPTS_DETAILS ON TBLRECEIPTS_DETAILS.PID = TBLPRODUCTS.PID INNER JOIN
			TBLRECEIPTS ON TBLRECEIPTS.RID = TBLRECEIPTS_DETAILS.RID
	WHERE 
			YEAR(TBLRECEIPTS.RDATE) = YEAR(@date)

	GROUP BY 
			TBLPRODUCTS.PNAME

	ORDER BY TOTAL DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getBestSuppliers]    Script Date: 17/05/2023 02:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_getBestSuppliers](@date DATETIME)
AS
BEGIN

	Select	TOP 3
			TBLSUPPLIERS.SNAME ,SUM(TBLRECEIPTS_DETAILS.TOTAL_PRICEDollar) AS TOTAL

	FROM 
			TBLSUPPLIERS INNER JOIN 
			TBLPRODUCTS ON TBLSUPPLIERS.SID = TBLPRODUCTS.SID INNER JOIN 
			TBLRECEIPTS_DETAILS ON TBLRECEIPTS_DETAILS.PID = TBLPRODUCTS.PID INNER JOIN
			TBLRECEIPTS ON TBLRECEIPTS.RID = TBLRECEIPTS_DETAILS.RID
	WHERE 
			YEAR(TBLRECEIPTS.RDATE) = YEAR(@date)

	GROUP BY 
			TBLSUPPLIERS.SNAME

	ORDER BY TOTAL DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getDailyCashByDate]    Script Date: 17/05/2023 02:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_getDailyCashByDate](@fromDate DATETIME,@toDate DATETIME)
AS
BEGIN
	SELECT
			TBLRECEIPTS.RBARCODE,
			TBLRECEIPTS.RITEM_NB,
			TBLRECEIPTS.TOTAL_AMOUNTDollar,
			TBLRECEIPTS.TOTAL_AMOUNTLBP,
			TBLRECEIPTS.RDATE
	FROM
			TBLRECEIPTS
	WHERE
			CONVERT(DATE,TBLRECEIPTS.RDATE) BETWEEN CONVERT(DATE,@fromDate) AND CONVERT(DATE,@toDate)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getLastReceiptID]    Script Date: 17/05/2023 02:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_getLastReceiptID]
AS
BEGIN
SELECT MAX(RID) AS MAX_RID FROM TBLRECEIPTS
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getProductByName]    Script Date: 17/05/2023 02:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_getProductByName](@name nvarchar(max))
AS
BEGIN
SELECT * FROM TBLPRODUCTS WHERE PNAME = @name OR BARCODE = @name
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getProductList]    Script Date: 17/05/2023 02:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_getProductList]
AS
BEGIN

	SELECT 
			TBLPRODUCTS.BARCODE,
			TBLPRODUCTS.PNAME,
			TBLSUPPLIERS.SNAME,
			TBLPRODUCTS.PRICE,
			TBLPRODUCTS.HasQuantity,
			TBLPRODUCTS.HasExpiredDate
	FROM
			TBLPRODUCTS INNER JOIN 
			TBLSUPPLIERS ON TBLPRODUCTS.SID = TBLSUPPLIERS.SID
	WHERE
			TBLPRODUCTS.ENABLED = 1

END
GO
/****** Object:  StoredProcedure [dbo].[sp_getProductsCount]    Script Date: 17/05/2023 02:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_getProductsCount](@str NVARCHAR(MAX))
AS
BEGIN
IF(@str = '')
	SELECT COUNT(PID) AS Product_Number FROM TBLPRODUCTS Where Enabled = 1
ELSE
BEGIN
	DECLARE @isDigit BIT
	SELECt @isDigit = ISNUMERIC(@str)
	IF(@isDigit = 1)
		SELECT COUNT(PID) AS Product_Number FROM TBLPRODUCTS Where Enabled = 1 AND (PID LIKE '%'+@str+'%' OR BARCODE LIKE '%'+@str+'%')
	ELSE
		SELECT COUNT(PID) AS Product_Number FROM TBLPRODUCTS Where Enabled = 1 AND PNAME LIKE '%'+@str+'%'
END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getReceiptByBarcode]    Script Date: 17/05/2023 02:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_getReceiptByBarcode](@barcode nvarchar(max))
AS
BEGIN
SELECT * FROM TBLRECEIPTS WHERE RBARCODE = @barcode
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getReceiptByID]    Script Date: 17/05/2023 02:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_getReceiptByID](@id int)
AS
BEGIN
SELECT * FROM TBLRECEIPTS WHERE RID =@id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getSalesProductCountByDate]    Script Date: 17/05/2023 02:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_getSalesProductCountByDate](@fromDate DATETIME,@toDate Datetime)
AS
BEGIN

	SELECT 
			TBLPRODUCTS.BARCODE,
			TBLPRODUCTS.PNAME,
			SUM(TBLRECEIPTS_DETAILS.QTE) AS NUM
	FROM
			TBLPRODUCTS INNER JOIN 
			TBLRECEIPTS_DETAILS ON TBLRECEIPTS_DETAILS.PID = TBLPRODUCTS.PID INNER JOIN
			TBLRECEIPTS ON TBLRECEIPTS.RID = TBLRECEIPTS_DETAILS.RID
	WHERE
			CONVERT(DATE,TBLRECEIPTS.RDATE) BETWEEN CONVERT(DATE,@fromDate) AND CONVERT(DATE,@toDate)
	GROUP BY
			TBLPRODUCTS.BARCODE,
			TBLPRODUCTS.PNAME
	ORDER BY NUM DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getSIDBySNAME]    Script Date: 17/05/2023 02:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_getSIDBySNAME](@name nvarchar(50))
AS
BEGIN 
SELECT SID FROM TBLSUPPLIERS WHERE SNAME = @name
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getSupplierByID]    Script Date: 17/05/2023 02:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_getSupplierByID](@id int)
AS
BEGIN
SELECT * FROM TBLSUPPLIERS WHERE SID = @id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getSupplierByNAME]    Script Date: 17/05/2023 02:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_getSupplierByNAME](@name NVARCHAR(50))
AS
BEGIN
SELECT * FROM TBLSUPPLIERS WHERE SNAME = @name
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getTotalOfExpiredDateQteByPID]    Script Date: 17/05/2023 02:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_getTotalOfExpiredDateQteByPID](@pid int)
AS
BEGIN
	Select SUM(Qte) AS TotalQte
	FROM TBLEXPIREDDATES 
	WHERE PID = @pid
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getTotalOfExpiredDateQteByPName]    Script Date: 17/05/2023 02:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_getTotalOfExpiredDateQteByPName](@pname nvarchar(max))
AS
BEGIN
	Select SUM(TBLEXPIREDDATES.Qte) as TotalQte
	FROM TBLEXPIREDDATES INNER JOIN 
		 TBLPRODUCTS ON TBLPRODUCTS.PID = TBLEXPIREDDATES.PID 
	WHERE TBLPRODUCTS.PNAME = @pname
END
GO
/****** Object:  StoredProcedure [dbo].[sp_insertNewRecipt]    Script Date: 17/05/2023 02:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_insertNewRecipt](@barcode nvarchar(max),@itemnb int,@totaldollar float,@totallbp int)
AS
BEGIN
INSERT INTO TBLRECEIPTS(RBARCODE,RITEM_NB,TOTAL_AMOUNTDollar,TOTAL_AMOUNTLBP,RDATE)VALUES(@barcode,@itemnb,@totaldollar,@totallbp,GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[sp_insertNewReciptDetail]    Script Date: 17/05/2023 02:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_insertNewReciptDetail](@rid int,@pid int,@qte int,@pricedollar float,@totaldollar float,@pricelbp int,@totallbp int)
AS
BEGIN
INSERT INTO TBLRECEIPTS_DETAILS(RID,PID,QTE,PRICE_Dollar,PRICE_LBP,TOTAL_PRICEDollar,TOTAL_PRICELBP)VALUES(@rid,@pid,@qte,@pricedollar,@pricelbp,@totaldollar,@totallbp)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_select_item]    Script Date: 17/05/2023 02:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_select_item](@str NVARCHAR(MAX))
AS 
BEGIN
IF(@str = '')
	SELECT IID AS ID,INAME AS ItemName,QTE AS Quantity,Unit,ADD_DATE AS AddedDate, CASE WHEN ENABLED = 1 THEN 'Enabled' ELSE 'Disabled' END AS Status FROM TBLITEMS ORDER BY IID ASC
ELSE
BEGIN
	DECLARE @isDigit BIT
	SELECt @isDigit = ISNUMERIC(@str)
	IF(@isDigit = 1)
		SELECT IID AS ID,INAME AS ItemName,QTE AS Quantity,Unit,ADD_DATE AS AddedDate, CASE WHEN ENABLED = 1 THEN 'Enabled' ELSE 'Disabled' END AS Status FROM TBLITEMS WHERE IID LIKE '%'+@str+'%' ORDER BY IID ASC
	ELSE
		SELECT IID AS ID,INAME AS ItemName,QTE AS Quantity,Unit,ADD_DATE AS AddedDate, CASE WHEN ENABLED = 1 THEN 'Enabled' ELSE 'Disabled' END AS Status FROM TBLITEMS WHERE INAME LIKE '%'+@str+'%' ORDER BY IID ASC
END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_select_products]    Script Date: 17/05/2023 02:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_select_products](@str NVARCHAR(MAX))
AS 
BEGIN
IF(@str = '')
	SELECT p.PID AS ID,p.BARCODE AS Barcode,p.PNAME AS ProductName, CASE WHEN s.SNAME IS NULL THEN '' ELSE s.SNAME END AS SupplierName,p.QTE AS Quantity,p.PRICE AS Price,p.ADD_DATE AS AddedDate, CASE WHEN p.ENABLED = 1 THEN 'Enabled' ELSE 'Disabled' END AS Status FROM TBLPRODUCTS p 
	LEFT JOIN TBLSUPPLIERS s on p.SID = s.SID
	ORDER BY p.PID ASC
ELSE
BEGIN
	DECLARE @isDigit BIT
	SELECt @isDigit = ISNUMERIC(@str)
	IF(@isDigit = 1)
		SELECT p.PID AS ID,p.BARCODE AS Barcode,p.PNAME AS ProductName,CASE WHEN s.SNAME IS NULL THEN '' ELSE s.SNAME END AS SupplierName,p.QTE AS Quantity,p.PRICE AS Price,p.ADD_DATE AS AddedDate, CASE WHEN p.ENABLED = 1 THEN 'Enabled' ELSE 'Disabled' END AS Status FROM TBLPRODUCTS p 
	LEFT JOIN TBLSUPPLIERS s on p.SID = s.SID WHERE p.PID LIKE '%'+@str+'%' OR p.BARCODE LIKE '%'+@str+'%' ORDER BY p.PID ASC
	ELSE
		SELECT p.PID AS ID,p.BARCODE AS Barcode,p.PNAME AS ProductName,CASE WHEN s.SNAME IS NULL THEN '' ELSE s.SNAME END AS SupplierName,p.QTE AS Quantity,p.PRICE AS Price,p.ADD_DATE AS AddedDate, CASE WHEN p.ENABLED = 1 THEN 'Enabled' ELSE 'Disabled' END AS Status FROM TBLPRODUCTS p 
	LEFT JOIN TBLSUPPLIERS s on p.SID = s.SID WHERE p.PNAME LIKE '%'+@str+'%' ORDER BY p.PID ASC
END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_select_suppliers]    Script Date: 17/05/2023 02:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_select_suppliers](@str NVARCHAR(MAX))
AS
BEGIN

IF(@str = '')
	SELECT SID AS ID,SNAME AS SupplierName,SPHONE AS PhoneNumber,SEMAIL AS Email,ADD_DATE AS AddedDate, CASE WHEN ENABLED = 1 THEN 'Enabled' ELSE 'Disabled' END AS Status FROM TBLSUPPLIERS ORDER BY SID ASC
ELSE
BEGIN
	DECLARE @isDigit BIT
	SELECt @isDigit = ISNUMERIC(@str)
	IF(@isDigit = 1)
		SELECT SID AS ID,SNAME AS SupplierName,SPHONE AS PhoneNumber,SEMAIL AS Email,ADD_DATE AS AddedDate, CASE WHEN ENABLED = 1 THEN 'Enabled' ELSE 'Disabled' END AS Status FROM TBLSUPPLIERS WHERE SID LIKE '%'+@str+'%' ORDER BY SID ASC
	ELSE
		SELECT SID AS ID,SNAME AS SupplierName,SPHONE AS PhoneNumber,SEMAIL AS Email,ADD_DATE AS AddedDate, CASE WHEN ENABLED = 1 THEN 'Enabled' ELSE 'Disabled' END AS Status FROM TBLSUPPLIERS WHERE SNAME LIKE '%'+@str+'%' ORDER BY SID ASC
END

END
GO
/****** Object:  StoredProcedure [dbo].[sp_selectReceipts]    Script Date: 17/05/2023 02:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_selectReceipts](@str nvarchar(max))
AS
BEGIN
SELECT 
	RID AS ID,
	RBARCODE AS BARCODE,
	RITEM_NB AS NumberOfItem,
	TOTAL_AMOUNTDollar AS TotalDolarPrice,
	TOTAL_AMOUNTLBP AS TotalLBPPrice,
	RDATE AS Date,
	isHold
FROM   
	TBLRECEIPTS 
WHERE  
	RID LIKE '%'+@str+'%' OR RBARCODE LIKE '%'+@str+'%'
order by 
	RID DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_selectReceiptsDetails]    Script Date: 17/05/2023 02:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_selectReceiptsDetails](@id int)
AS
BEGIN
SELECT r.RBARCODE AS Barcode,rd.RID AS RID,p.PNAME AS ProductName,s.SNAME AS SupplierName,rd.QTE AS Quantity,rd.PRICE_Dollar AS DollarPrice,rd.PRICE_LBP AS LBPPrice,
	rd.TOTAL_PRICEDollar AS TotalDolarPrice,rd.TOTAL_PRICELBP AS TotalLBPPrice FROM TBLRECEIPTS r INNER JOIN TBLRECEIPTS_DETAILS rd ON r.RID = rd.RID
	INNER JOIN TBLPRODUCTS p ON rd.PID = p.PID LEFT JOIN TBLSUPPLIERS s on p.SID = s.SID WHERE r.RID = @id ORDER BY r.RID ASC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateExpiredDateQte]    Script Date: 17/05/2023 02:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateExpiredDateQte](@expID int,@qte int)
AS
BEGIN
UPDATE TBLEXPIREDDATES	SET Qte = @qte WHERE ID = @expID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateItem]    Script Date: 17/05/2023 02:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateItem](@id int,@name nvarchar(100),@qte int,@unit nvarchar(20))
AS
BEGIN
UPDATE TBLITEMS SET INAME = @name WHERE IID = @id
UPDATE TBLITEMS SET QTE = @qte WHERE IID = @id
UPDATE TBLITEMS SET UNIT = @unit WHERE IID = @id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateProduct]    Script Date: 17/05/2023 02:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateProduct](@id int,@name nvarchar(100),@barcode nvarchar(100),@qte int,@price float,@hasQuantity BIT,@sid int,@hasExpiredDate BIT)
AS
BEGIN
UPDATE TBLPRODUCTS SET PNAME = @name WHERE PID = @id
UPDATE TBLPRODUCTS SET BARCODE = @barcode WHERE PID = @id
UPDATE TBLPRODUCTS SET QTE = @qte WHERE PID = @id
UPDATE TBLPRODUCTS SET PRICE = @price WHERE PID = @id
UPDATE TBLPRODUCTS SET HasQuantity = @hasQuantity WHERE PID = @id
UPDATE TBLPRODUCTS SET SID = @sid WHERE PID = @id
UPDATE TBLPRODUCTS SET HasExpiredDate = @hasExpiredDate WHERE PID = @id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateProductQuantity]    Script Date: 17/05/2023 02:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Script for SelectTopNRows command from SSMS  ******/
CREATE PROCEDURE [dbo].[sp_UpdateProductQuantity](@id int,@qte int)
AS
BEGIN
UPDATE TBLPRODUCTS SET QTE = @qte WHERE PID = @id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateSupplier]    Script Date: 17/05/2023 02:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateSupplier](@id int ,@name nvarchar(50),@phone nvarchar(50),@email nvarchar(50))
AS
BEGIN
UPDATE TBLSUPPLIERS SET SNAME = @name WHERE SID = @id
UPDATE TBLSUPPLIERS SET SPHONE = @phone WHERE SID = @id
UPDATE TBLSUPPLIERS SET SEMAIL = @email WHERE SID = @id
END
GO
