<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MiniGram.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MiniGram.Properties.Settings.MiniGramCashDBConnectionString" connectionString="Data Source=SQLEXPRESS;Initial Catalog=MiniGramCashDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <MiniGram.Properties.Settings>
            <setting name="ServerName" serializeAs="String">
                <value>SQLEXPRESS</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=SQLEXPRESS;Initial Catalog=MiniGramCashDB;Integrated Security=True</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>en_local</value>
            </setting>
            <setting name="dollarLBPPrice" serializeAs="String">
                <value>20000</value>
            </setting>
            <setting name="isPOSType" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="printerName" serializeAs="String">
                <value>Microsoft Print to PDF</value>
            </setting>
            <setting name="startup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="firstTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="somethingChanged" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ServerSecurity" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>12345678</value>
            </setting>
            <setting name="ReceiptType" serializeAs="String">
                <value>1</value>
            </setting>
        </MiniGram.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.core" publicKeyToken="1488e028ca7ab535" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.1395" newVersion="2.0.7.1395"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Shared.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-20.3460.0.47" newVersion="20.3460.0.47"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Core.WinForms" publicKeyToken="3d67ed1f87d44c89" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-19.4460.0.48" newVersion="19.4460.0.48"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.SfInput.WinForms" publicKeyToken="3d67ed1f87d44c89" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-19.4460.0.48" newVersion="19.4460.0.48"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
