<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MiniGram.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MiniGram.Properties.Settings.MiniGramConnectionString"
            connectionString="Data Source=DESKTOP-A846TAN;Initial Catalog=MiniGram;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <MiniGram.Properties.Settings>
            <setting name="ServerName" serializeAs="String">
                <value>SERVER</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=DESKTOP-A846TAN;Initial Catalog=MiniGram;Integrated Security=True</value>
            </setting>
        </MiniGram.Properties.Settings>
    </userSettings>
</configuration>